

.navbar{
    height: 60px;
    top: 0px;
    border-bottom: 1px solid gray;
    position: fixed;
    width: 100%;
    background-color: white;
    .container{
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;  
    }

    .right-side{
        display: flex;
        align-items: center;
        gap: 20px;

        .logout{
            font-size: 1.8rem;
            display: flex;
            justify-content: center;
            align-items: center;
        }

    }

}